<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIKey</key>
    <string>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</string>
</dict>
</plist> 