<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIKey</key>
    <string>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</string>
</dict>
</plist> 